@model BlogMVC.Models.category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- # site-content -->
<div id="content" class="s-content s-content--page">
    <div class="row entry-wrap">
        <div class="column lg-12">
            <article class="entry">
                <header class="entry__header entry__header--narrow">
                    <h1 class="entry__title">ADD CATEGORIES</h1>
                </header>
                <div class="content-primary">
                    @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <h4>Add New Category</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }


                    <a href="@Url.Action("ShowCategories","Admin")">ADD SUBCATEGORIES!</a>
 




                </div> <!-- end content-primary -->
            </article> <!-- end entry -->
        </div>
    </div> <!-- end entry-wrap -->
</div> <!-- end content -->
