@model IEnumerable<BlogMVC.Models.comment>
@{
    ViewBag.Title = "ManageComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- # site-content
================================================== -->
<div id="content" class="s-content s-content--page">

    <div class="row entry-wrap">
        <div class="column lg-12">

            <article class="entry">

                <header class="entry__header entry__header--narrow">

                    <h1 class=" ">
                        APPROVE OR REJECT USERS COMMENTS.
                    </h1>

                </header>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                 <th>Author</th>
                                <th>Comment</th>
                                <th>Created :</th>
                                <th>Approve/Reject</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var comment in Model)
                            {
                                <tr>
                                     <td>@comment.user.username</td>
                                    <td>@comment.comment1</td>
                                    <td>@comment.created_at</td>
                                    <td class="text-center">
                                        <div class="btn-container">
                                            @using (Html.BeginForm("ApproveComment", "Admin", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.Hidden("id", comment.id)
                                                <button type="submit" class="btn btn-success">Approve</button>
                                            }
                                            @using (Html.BeginForm("DeleteComment", "Admin", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.Hidden("id", comment.id)
                                                <button type="submit" class="btn btn-danger">Reject</button>
                                            }
                                        </div>
                                        <style>
                                            .btn-container {
                                                display: flex;  
                                                gap: 10px;  
                                            }

                                            .inline-form {
                                                display: inline; 
                                                margin: 0;  
                                            }
                                            .btn-success{
                                                background-color: forestgreen;
                                            }
                                            .btn-danger{
                                                background-color:darkred;
                                            }
                                        </style>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>



            </article> <!-- end entry -->

        </div>
    </div> <!-- end entry-wrap -->


</div> <!-- end content -->
    </div> <!-- end page -->
