@model BlogMVC.Models.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Categorie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- # site-content
================================================== -->
<section id="content" class="s-content-categorie">


    <!-- pageheader -->
    <div class="s-pageheader">
        <div class="row">
            <div class="column large-12">
                <h1 class="page-title">
                    <span class="page-title__small-type">Category:@Model.category.name</span>
                     
                </h1>
            </div>
        </div>
    </div> <!-- end s-pageheader-->
    <!--  masonry -->
    <div id="bricks" class="bricks">

        <div class="masonry">
            <div class="bricks-wrapper" data-animate-block>
                <div class="grid-sizer"></div>

            @if (Model.posts.Count == 0)
            {
                <h1>No posts created for this category</h1>
            }
            else
            {

                foreach (var post in Model.posts)
                {
                     <article class="brick entry" data-animate-el>
                        <div class="entry__thumb">
                            <a href="@Url.Action("Post", "Home", new { id = post.id })" class="thumb-link">
                                <a href="@Url.Action("Post", "BlogPost", new { id = post.id })" class="thumb-link">
                                    <img src="@post.main_image" alt="">
                                </a>
                            </a>
                        </div>
                        <div class="entry__text">
                            <div class="entry__header">
                                <div class="entry__meta">
                                    
                                     
                                </div>
                                <h1 class="entry__title"><a href="@Url.Action("Post", "Home", new { id = post.id })">@post.title</a></h1>
                            </div>
                            <div class="entry__excerpt">
                                <p></p>
                            </div>
                            <a class="entry__more-link" href="@Url.Action("Post", "Home", new { id = post.id })">Read More</a>
                        </div>
                    </article>
                }
            }
            </div> <!-- end bricks-wrapper -->
        </div> <!-- end masonry-->

    </div> <!-- end bricks -->

</section> <!-- end s-content -->
