@model IEnumerable<BlogMVC.Models.post>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

 
<!-- # site-content
================================================== -->
<section id="content" class="s-content">


    <!-- hero -->
    <div class="hero">

        <div class="hero__slider swiper-container">

            <div class="swiper-wrapper">
                <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('/Content/images/thumbs/featured/featured-01_2000.jpg');"></div>
                    <div class="hero__entry-text">
                        <div class="hero__entry-text-inner">
                            <div class="hero__entry-meta">
                                <span class="cat-links">
                                    <a href="category.html">Inspiration</a>
                                </span>
                            </div>
                            <h2 class="hero__entry-title">
                                <a href="@Url.Action("Post", "Home")">
                                    Understanding and Using Negative Space.
                                </a>
                            </h2>
                            <p class="hero__entry-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud corporis est laudantium voluptatum consectetur adipiscing.
                            </p>
                            <a class="hero__more-link" href="@Url.Action("Post", "Home")">Read More</a>
                        </div>
                    </div>
                </article>
                
            </div> <!-- swiper-wrapper -->

            <div class="swiper-pagination"></div>

        </div> <!-- end hero slider -->

        <a href="#bricks" class="hero__scroll-down smoothscroll">
            <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
            </svg>
            <span>Scroll</span>
        </a>

    </div> <!-- end hero -->
    <!--  masonry -->
    <div id="bricks" class="bricks">

        <div class="masonry">

            <div class="bricks-wrapper" data-animate-block>

                <div class="grid-sizer"></div>
            @foreach (var post in Model)
            {
                    <article class="brick entry" data-animate-el>

                        <div class="entry__thumb">
                            <a href="@Url.Action("Post", "Home")" class="thumb-link">
                                <img src="/Content/images/thumbs/masonry/statue-600.jpg"
                                     srcset="/Content/images/thumbs/masonry/statue-600.jpg 1x, /Content/images/thumbs/masonry/statue-1200.jpg 2x" alt="">
                            </a>
                        </div> <!-- end entry__thumb -->

                        <div class="entry__text">
                            <div class="entry__header">
                                <div class="entry__meta">
                                    @foreach (var postCategory in post.PostCategories)
                                    {
                                        <span class="cat-links">
                                            <a href="#">@postCategory.category.name </a>
                                        </span>
                                    }

                                    <span class="byline">
                                        By:
                                        <a href="#0">@post.user.username</a>
                                    </span>
                                </div>
                                <h1 class="entry__title"><a href="@Url.Action("Post", "Home")">@post.title</a></h1>
                            </div>
                            <div class="entry__excerpt">
                                <p>
                                    Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla
                                    sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in.
                                </p>
                            </div>
                            <a class="entry__more-link" href="#0">Read More</a>
                        </div> <!-- end entry__text -->

                    </article> <!-- end article -->
            }

            </div> <!-- end bricks-wrapper -->

        </div> <!-- end masonry-->
        <!-- pagination -->
        <div class="row pagination">
            <div class="column lg-12">
                <nav class="pgn">
                    <ul>
                        <li>
                            <a class="pgn__prev" href="#0">
                                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
                                </svg>
                            </a>
                        </li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li>
                            <a class="pgn__next" href="#0">
                                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H4.75"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav> <!-- end pgn -->
            </div> <!-- end column -->
        </div> <!-- end pagination -->

    </div> <!-- end bricks -->

</section> <!-- end s-content -->
