<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Radiance</title>

    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/plugins.js"></script>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/vendor.css" rel="stylesheet" />

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body id="top">

    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">


        <!-- # site header
        ================================================== -->
        <header id="masthead" class="s-header">

            <div class="s-header__branding">
                <p class="site-title p-2">
                    <a href="@Url.Action("Index", "Home")" rel="home">Radiance.</a>

                    @if (Session["username"] != null)

                    {

                    <p>Hi,@Session["username"]</p>

                }
                    </p>
                </div>


                <div class="row s-header__navigation">

                    <nav class="s-header__nav-wrap">

                        <h3 class="s-header__nav-heading">Navigate to</h3>

                        <ul class="s-header__nav">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="has-children">
                                <a href="#0" title="" class="">Categories</a>
                                <ul id="subMenuCategories" class="sub-menu">
                                    @Html.Action("CategoriesPartial", "Home")   
                                </ul>
                            </li>


                            @if (Session["username"] != null)
                            {
                                if (Session["role"] != null && Session["role"].ToString() == "admin")
                                {
                                    <li><a href="@Url.Action("ManagePosts", "Admin")">ManagePosts</a></li>
                                    <li><a href="@Url.Action("ManageComments", "Admin")">ManageComments</a></li>
                                    <li><a href="@Url.Action("AddCategory", "Admin")">AddCategory</a></li>
                                    <li><a href="@Url.Action("Logout", "Home")">Logout</a></li>

                                }
                                else
                                {
                                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                                    <li><a href="@Url.Action("Add", "BlogPost")">Add BlogPost</a></li>
                                    <li><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                                    <li><a href="@Url.Action("Profile", "Home")">Profile</a></li>
                                }

                            }
                            else
                            {
                                <li><a href="@Url.Action("Login", "Home")">Login</a></li>
                                <li><a href="@Url.Action("Signup", "Home")">Sign Up</a></li>
                            }
                        </ul>

                    </nav>  

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>

                </div> <!-- end s-header__navigation -->




            </header>
            <!-- end s-header --
            @RenderBody()
            <!-- # site-footer
               ================================================== -->
            <footer id="colophon" class="s-footer">



                <div class="row s-footer__main">

                    <div class="column lg-5 md-6 tab-12 s-footer__about">
                        <h4>Radiance</h4>

                        <p>
                            At Radiance, we believe in the transformative power of inspiration and wellness. Our blog is dedicated to guiding you on a journey towards a more radiant life. Whether you're seeking practical health tips, motivational stories, or insightful perspectives on personal growth, we're here to light the way. Join us as we explore diverse topics that nourish the body, mind, and soul, empowering you to shine brightly in every aspect of your life.
                        </p>
                    </div> <!-- end s-footer__about -->

                    <div class="column lg-5 md-6 tab-12">
                        <div class="row">
                            <div class="column lg-6">
                                <h4>Categories</h4>
                                <ul class="link-list">
                                    <!-- -->
                                </ul>


                            </div>
                            <div class="column lg-6">
                                <h4>Site Links</h4>
                                <ul class="link-list">
                                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                    <li><a href="@Url.Action("About","Home")">About</a></li>
                                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                                    <li><a href="#0">Terms & Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.25 10.25L12 4.75L6.75 10.25" />
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 19.25V5.75" />
                        </svg>
                    </a>
                </div> <!-- end ss-go-top -->

            </footer><!-- end s-footer -->
            <!-- Java Script
            ================================================== -->
            <script src="~/Scripts/js/plugins.js"></script>
            <script src="~/Scripts/js/main.js"></script>
            @RenderSection("Scripts", required: false)





    </body>

</html>
 