@model BlogMVC.Models.ViewModels.AddBlogPostRequest

@{
    ViewBag.Title = "Add Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- # site-content
================================================== -->
<div id="body" class="s-content s-content--page">
    <div class="row entry-wrap">
        <div class="column lg-12">
            <article class="entry">
                <header class="entry__header entry__header--narrow">
                    <h1 class="entry__title">
                        Add a Blog Post.
                    </h1>
                </header>
                <h4>Be your own writer</h4>

                @using (Html.BeginForm("Add", "BlogPost", FormMethod.Post, new { id = "addForm", @class = "entry__form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

            <fieldset class="row">
                <div class="column lg-6 tab-12 form-field">
                    <input name="username" id="username" class="u-fullwidth" placeholder="Your Username" value="@Session["username"]" type="text" readonly>
                </div>

                <div class="column lg-6 tab-12 form-field">
                    <input name="email" id="email" class="u-fullwidth" placeholder="Your Email" value="@Session["email"]" type="text" readonly>
                </div>

                <div class="column lg-12 form-field">
                    @Html.LabelFor(model => model.title, "Title")
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "u-fullwidth", placeholder = "Title" } })
                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                </div>

                <div class="column lg-12 message form-field mt-2 mb-2">
                    @Html.LabelFor(model => model.content, "Content")
                    @Html.TextAreaFor(model => model.content, new { @class = "u-fullwidth", placeholder = "Content" })
                    @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                </div>
                <!-- Body Images -->
                <div class="column lg-12 form-field">
                    <label>Body Images</label>
                    <input type="file" name="body_images" id="body_images" class="u-fullwidth" multiple />
                </div>

                <div class="column lg-12 form-field">
                    <label>Additional Files</label>
                    <input type="file" name="files" id="files" class="u-fullwidth" multiple />
                </div>

                <div class="column lg-12 form-field">
                    <label>PLACE A CATEGORY</label>
                    @Html.ListBoxFor(model => model.SelectedCategoryIds, new MultiSelectList(Model.categories, "Value", "Text"), new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.SelectedCategoryIds, "", new { @class = "text-danger" })
                </div>
                <div class="column lg-12 form-field">
                    <label for="main_imagee">Main Picture</label>
                    <input type="file" name="main_imagee" id="main_imagee" class="u-fullwidth" />
                </div>
                <div class="column lg-12">
                    <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large u-fullwidth" value="Add Post" type="submit">
                </div>
            </fieldset>
                }
            </article> <!-- end entry -->
        </div>
    </div> <!-- end entry-wrap -->
</div> <!-- end site-content -->

@section Scripts {
    <script>
        new FroalaEditor('#content', {
            toolbarButtons: {
                moreText: {
                    buttons: [
                        'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting'
                    ]
                },
                moreParagraph: {
                    buttons: [
                        'alignLeft', 'alignCenter', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphFormat', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote'
                    ]
                },
                moreRich: {
                    buttons: [
                        'insertLink','emoticons', 'specialCharacters'
                    ]
                },
                moreMisc: {
                    buttons: [
                        'undo', 'redo', 'fullscreen'
                    ],
                    align: 'right',
                    buttonsVisible: 2
                }
            }
        });
    </script>
}